* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 96vh;


}


.navbar-Layout {
  width: 100%;
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1px solid #e5e7eb;
  background-color: #fff;
  position: fixed;   
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

}


.logo {
  width: 140px;
  cursor: pointer;
}


.icon {
  width: 24px;
  height: 24px;
  color: #4b5563;
  cursor: pointer;
}


.mobile-only {
  display: none;
}

.main {
  flex: 1;
  width: 100%;
  display: flex;
  height:calc(100vh - 56px);
  margin-top: 56px;
}


.sidebar {
  width: 250px;
  background: #fff;
  border-right: 1px solid #e5e7eb;
  transition: transform 0.3s ease;
}

.sidebar.open {
  transform: translateX(0);
}


@media (max-width: 640px) {
  .sidebar {
    position: absolute;
    top: 56px;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    z-index: 10;
  }

  .mobile-only {
    display: block;
  }
}


.content {
  flex: 1;
  background-color: #f4f7fb;
  padding: 1rem;
  overflow-y: auto;
}


.signin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
